<template>
  <div>
    <h4>Funds available
      <span class="badge badge-secondary">{{ funds | currency }}</span>
    </h4>
    <app-stock v-for='stock in stocks' :stock='stock'></app-stock>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Stock from './Stock.vue';

export default {
  components: {
    appStock: Stock
  },
  computed: {
    ...mapGetters({
      stocks: 'stockPortfolio',
      funds: 'funds'
    })
  }
}
</script>

<style scope>
  h4 {
    margin-bottom: 30px;
  }
</style>