<template>
  <div class='col-sm-6 col-md-4'>
    <div class='panel panel-success'>
      <div class='panel-heading'>
        <h3 class='panel-title'>
          {{ stock.name }}
          <small>(Price: {{ stock.price }} | Quantity: {{ stock.quantity }})</small>
        </h3>
      </div>
      <div class='panel-body'>
        <div class='pull-left'>
          <input
            type='number'
            class='form-control'
            placeholder='Quantity'
            v-model.number='quantity'
            :class='{"no-stock": insufficientStock}'>
        </div>
        <div class='pull-right'>
          <button
            class='btn btn-success'
            @click='sellStock'
            :disabled='insufficientStock'>
            {{ insufficientStock ? 'No stock' : 'Sell' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .no-stock {
    border: 1px solid red;
  }
</style>

<script>
  import { mapActions } from 'vuex';

  export default {
    data: function() {
      return {
        quantity: 0
      }
    },
    props: {
      stock: {
        type: Object,
        required: true
      }
    },
    methods: {
      ...mapActions({
        sellStockAction: 'sellStock'
      }),
      sellStock: function() {
        const order = {
          stockId: this.stock.id,
          stockPrice: this.stock.price,
          quantity: this.quantity
        }
        this.sellStockAction(order)
        this.quantity = 0;
      }
    },
    computed: {
      insufficientStock: function() {
        return this.quantity > this.stock.quantity;
      }
    }
  }
</script>