<template>
  <div class='col-sm-6 col-md-4'>
    <div class='panel panel-success'>
      <div class='panel-heading'>
        <h3 class='panel-title'>
          {{ stock.name }}
          <small>(Price: {{ stock.price }})</small>
        </h3>
      </div>
      <div class='panel-body'>
        <div class='pull-left'>
          <input
            type='number'
            class='form-control'
            placeholder='Quantity'
            v-model.number='quantity'>
        </div>
        <div class='pull-right'>
          <button
            class='btn btn-success'
            @click='buyStock'
            :disabled='insufficientFunds || quantity <= 0 || !Number.isInteger(quantity)'>
            {{ insufficientFounds ? 'No founds' : 'Buy' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        quantity: 0
      }
    },
    props: {
      stock: {
        type: Object,
        required: true
      }
    },
    computed: {
      insufficientFunds: function() {
        return (this.$store.state.portfolio.funds < this.quantity * this.stock.price);
        return true;
      },
    },
    methods: {
      increase: function() {
        this.quantity++;
      },
      buyStock: function() {
        const order = {
          stockId: this.stock.id,
          stockPrice: this.stock.price,
          quantity: this.quantity
        };
        this.$store.dispatch('buyStock', order);
        this.quantity = 0;
      }
    }
  }
</script>