<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <router-link to='/' class='navbar-brand'>Stock Trader</router-link>
      </div>
      <ul class="nav navbar-nav">
        <router-link to='/portfolio' tag='li' activeClass='active'><a>Portfolio</a></router-link>
        <router-link to='/stocks' tag='li' activeClass='active'><a>Stocks</a></router-link>
        <li
          class="nav-item dropdown"
          :class='{ "open": isDropdownOpen }'
          @click='openDropdown'>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Load</a>
            <a class="dropdown-item" href="#">Save</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
  export default {
    data: function() {
      return {
        isDropdownOpen: false
      }
    },
    methods: {
      openDropdown: function() {
        this.isDropdownOpen = !this.isDropdownOpen;
      }
    }
  }
</script>

<style>
  .dropdown-menu {
    padding: 15px
  }

  .dropdown-menu a {
    color: grey;
    display: block;
  }

  .dropdown-menu a:not(:last-child) {
    margin-bottom: 10px;
  }
</style>